[defaults]
inventory = Inventory
host_key_checking = False
forks = 2
log_path = ./ansible.log
remote_user = ubuntu
private_key_file = ./login.pem
timeout = 15

[privilege_escalation]
become = yes
become_method = sudo
become_user = root
become_pass = False

[ssh_connection]
retries = 2
